  <div class="container">
    <footer>
        <p>  This work is licensed under a Creative Commons Attribution-Share Alike 3.0 License "Rails", "Ruby on Rails", and the Rails logo are trademarks of David Heinemeier Hansson.</p> 
      <div class="container text-center">
        <h6>&copy; 2024 Your Company. All rights reserved.</h6>
      </div>
    </footer>
  </div>      
